apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: todok8s
  labels:
    app: backend
spec:
  replicas: 1
  matchLabels:
    app: backend
  template:
    metadata:
      labels:
        app: backend
    containers:
    - name: backend
      image: todok8s-backend:latest
      ports:
      - name: port
        containerPort: 8081
      env:
      - name: DB_URL
        valueFrom:
          configMapKeyRef:
            name: mysql-config
            key: mysql-url
      - name: DB_PASSWORD
        valueFrom:
          secretKeyRef:
            name: mysql-secret
            key: mysql-secret
      - name: DB_USERNAME
        valueFrom:
          name: mysql-secret
          key: mysql-user
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: todok8s
spec:
  selector:
    app: backend
  ports:
  - name: backend-port
    targetPort: 8081
    port: 8081
